<row class="collapsed">
  <columns>
    <center>
      <hr>
      <menu>
        <item href="https://twitter.com/Ameya_Pawar_IL">
          <img src="/Uploads/17171/images/new-twitter.png" alt="Twitter" width="35" height="35">
        </item>
        <item href="https://www.facebook.com/AmeyaPawarIL/">
          <img src="/Uploads/17171/images/new-facebook.png" alt="Facebook" width="35" height="35">
        </item>
        <item href="https://www.instagram.com/ameya.s.pawar/">
          <img src="/Uploads/17171/images/new-instagram.png" alt="Instagram" width="35" height="35">
        </item>
        <item href="https://www.youtube.com/user/RenewChicago/videos">
            <img src="/Uploads/17171/images/new-youtube.png" alt="Youtube" width="35" height="35">
        </item>
      </menu>
    </center>
  </columns>
</row>
<row class="collapsed">
  <columns>
    <center>
      <menu>
        <item>
          \{{ForwardToAFriendLink}}
        </item>
        <item>
          \{{UnsubscribeLink}}
        </item>
      </menu>
    </center>
  </columns>
</row>